//  _        ___                                      ___ _
// | |      / __)_                                   / __|_)
// | | ____| |__| |_ _ _ _ ____      ____ ___  ____ | |__ _  ____    ____ ___  ____
// | |/ _  )  __)  _) | | |    \    / ___) _ \|  _ \|  __) |/ _  |  / ___) _ \|  _ \
// | ( (/ /| |  | |_| | | | | | |  ( (__| |_| | | | | |  | ( ( | |_| |  | |_| | | | |
// |_|\____)_|   \___)____|_|_|_|   \____)___/|_| |_|_|  |_|\_|| (_)_|   \___/|_| |_|
// A WindowManager for Adventurers                         (____/
// For info about configuration please visit https://github.com/leftwm/leftwm/wiki

#![enable(implicit_some)]
(
    modkey: "Mod4",
    mousekey: "Mod4",
    workspaces: [],
    tags: [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8",
        "9",
    ],
    max_window_width: None,
    layout_mode: Workspace,
    insert_behavior: Bottom,
    scratchpad: [],
    window_rules: [
    ( window_class: "xfce4-notifyd", spawn_floating: true ),
    ],
    disable_current_tag_swap: true,
    disable_tile_drag: false,
    disable_window_snap: true,
    focus_behaviour: Sloppy,
    focus_new_windows: true,
    sloppy_mouse_follows_focus: false,
    keybind: [
        (command: Execute, value: "xfce4-terminal --drop-down", modifier: [], key: "F12"),
        (command: Execute, value: "killall conky", modifier: ["modkey"], key: "c"),
        (command: Execute, value: "dmenu_run -i -nb \'#191919\' -nf \'#fea63c\' -sb \'#fea63c\' -sf \'#191919\' -fn \'NotoMonoRegular:bold:pixelsize=14\'", modifier: ["modkey", "Shift"], key: "d"),
        (command: Execute, value: "archlinux-logout", modifier: ["modkey"], key: "x"),
        (command: Execute, value: "thunar", modifier: ["modkey", "Shift"], key: "Return"),
        (command: Execute, value: "leftwm-command ToggleFullScreen", modifier: ["modkey"], key: "f"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "t"),
        (command: Execute, value: "alacritty", modifier: ["modkey"], key: "Return"),
        (command: Execute, value: "alacritty", modifier: ["Control", "Alt"], key: "t"),
        (command: Execute, value: "alacritty", modifier: ["Control", "Alt"], key: "Return"),
        (command: CloseWindow, value: "", modifier: ["modkey", "Shift"], key: "q"),
        (command: CloseWindow, value: "", modifier: ["modkey"], key: "q"),
        (command: SoftReload, value: "", modifier: ["modkey", "Shift"], key: "r"),
        (command: MoveToLastWorkspace, value: "", modifier: ["modkey", "Shift"], key: "w"),
        (command: SwapTags, value: "", modifier: ["modkey"], key: "w"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "k"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "j"),
        (command: MoveWindowUp, value: "", modifier: ["modkey", "Shift"], key: "Up"),
        (command: MoveWindowDown, value: "", modifier: ["modkey", "Shift"], key: "Down"),
        (command: FocusWindowUp, value: "", modifier: ["modkey"], key: "k"),
        (command: FocusWindowDown, value: "", modifier: ["modkey"], key: "j"),
        (command: NextLayout, value: "", modifier: ["modkey"], key: "space"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Shift"], key: "space"),
        (command: FocusWorkspaceNext, value: "", modifier: ["modkey"], key: "l"),
        (command: FocusWorkspacePrevious, value: "", modifier: ["modkey"], key: "h"),
        (command: NextLayout, value: "", modifier: ["modkey", "Control"], key: "Up"),
        (command: PreviousLayout, value: "", modifier: ["modkey", "Control"], key: "Down"),
        (command: FocusNextTag, value: "", modifier: ["modkey"], key: "Down"),
        (command: FocusPreviousTag, value: "", modifier: ["modkey"], key: "Up"),
        (command: Execute, value: "leftwm-command SwapScreens", modifier: ["modkey"], key: "Left"),
        (command: Execute, value: "leftwm-command SwapScreens", modifier: ["modkey"], key: "Right"),
        (command: MoveWindowToNextWorkspace, value: "", modifier: ["modkey", "Shift"], key: "Left"),
        (command: MoveWindowToNextWorkspace, value: "", modifier: ["modkey", "Shift"], key: "Right"),
        (command: FocusPreviousTag, value: "", modifier: ["Control", "Alt"], key: "Left"),
        (command: FocusNextTag, value: "", modifier: ["Control", "Alt"], key: "Right"),
        (command: FocusPreviousTag, value: "", modifier: ["Control", "Alt"], key: "Up"),
        (command: FocusNextTag, value: "", modifier: ["Control", "Alt"], key: "Down"),
        (command: FocusNextTag, value: "", modifier: ["modkey"], key: "Tab"),
        (command: FocusPreviousTag, value: "", modifier: ["modkey", "Shift"], key: "Tab"),
        (command: FocusNextTag, value: "", modifier: ["Alt"], key: "Tab"),
        (command: FocusPreviousTag, value: "", modifier: ["Alt", "Shift"], key: "Tab"),
        (command: GotoTag, value: "1", modifier: ["modkey"], key: "ampersand"),
        (command: GotoTag, value: "2", modifier: ["modkey"], key: "eacute"),
        (command: GotoTag, value: "3", modifier: ["modkey"], key: "quotedbl"),
        (command: GotoTag, value: "4", modifier: ["modkey"], key: "apostrophe"),
        (command: GotoTag, value: "5", modifier: ["modkey"], key: "parenleft"),
        (command: GotoTag, value: "6", modifier: ["modkey"], key: "section"),
        (command: GotoTag, value: "7", modifier: ["modkey"], key: "egrave"),
        (command: GotoTag, value: "8", modifier: ["modkey"], key: "exclam"),
        (command: GotoTag, value: "9", modifier: ["modkey"], key: "ccedilla"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 1\" \"SendWorkspaceToTag 0 0\"", modifier: ["modkey", "Shift"], key: "ampersand"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 2\" \"SendWorkspaceToTag 0 1\"", modifier: ["modkey", "Shift"], key: "eacute"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 3\" \"SendWorkspaceToTag 0 2\"", modifier: ["modkey", "Shift"], key: "quotedbl"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 4\" \"SendWorkspaceToTag 0 3\"", modifier: ["modkey", "Shift"], key: "apostrophe"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 5\" \"SendWorkspaceToTag 0 4\"", modifier: ["modkey", "Shift"], key: "parenleft"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 6\" \"SendWorkspaceToTag 0 5\"", modifier: ["modkey", "Shift"], key: "section"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 7\" \"SendWorkspaceToTag 0 6\"", modifier: ["modkey", "Shift"], key: "egrave"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 8\" \"SendWorkspaceToTag 0 7\"", modifier: ["modkey", "Shift"], key: "exclam"),
        (command: Execute, value: "leftwm-command \"SendWindowToTag 9\" \"SendWorkspaceToTag 0 8\"", modifier: ["modkey", "Shift"], key: "ccedilla"),
    ],
    state_path: None,
)
